#photoContainer{
	background-color:cyan;
	margin:50px;
	height:20%:
	width:20%;
}
#Logo{
	position:relative;
	background:url("images/Logo.png");
	height:100px;
	width:100px;
}
#about{
	background:url("../images/background1.jpg");
	size:100%;
}
#intro{
	background:url("../images/background0.jpg") no-repeat;
	size:100%;
	
}
